body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
* {
}
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 10px;
}
.sect1 {
  display: flex;
  justify-content: space-evenly;
  img {
    width: 40%;
    border: 5px solid gainsboro;
    border-radius: 15px;
  }
}

#first {
  width: 8%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rouge {
  border: 5px solid gainsboro;
  border-radius: 15px;
}
.valeur {
  display: flex;
  justify-content: space-evenly;
}
.sect2 {
  text-align: center;
}
section {
  text-align: center;
}
.card {
  border: 5px solid #333;
  border-radius: 5px;
  width: 30%;
  /* height: 400px; */
}

.di {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.di img {
  justify-content: space-between;
  width: 100%;
}

textarea {
  text-align: center;
}

label* {
  justify-content: ;
}

.chico {
  display: flex;
  justify-content: center; justify-content: space-evenly; gap: 2%;
  width: 100%;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center; gap: 1px;
}

.button {
  background-color: red;
  color: black;
  border-radius: 5px;
  border: #010101 solid 2px;
}